In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('players.csv', quoting=1)

In [8]:
print(df)

          bioID  pos  firstseason  lastseason  height  weight  \
0    abrahta01w    C            0           0    74.0     190
1    abrossv01w    F            0           0    74.0     169
2    adairje01w    C            0           0    76.0     197
3    adamsda01w  F-C            0           0    73.0     239
4    adamsjo01w    C            0           0    75.0     180
..          ...  ...          ...         ...     ...     ...
888  zellosh01w    G            0           0    70.0     155
889  zhengha01w    C            0           0    80.0     254
890  zierddo99w  NaN            0           0     0.0       0
891  zirkozu01w    G            0           0    69.0     145
892   zollsh01w    G            0           0    67.0     148

               college            collegeOther   birthDate   deathDate
0    George Washington                     NaN  1975-09-27  0000-00-00
1          Connecticut                     NaN  1980-07-09  0000-00-00
2    George Washington                     NaN  1986-12-19  0000-00-00
3            Texas A&M  Jefferson College (JC)  1989-02-19  0000-00-00
4           New Mexico                     NaN  1981-05-24  0000-00-00
..                 ...                     ...         ...         ...
888         Pittsburgh                     NaN  1986-08-28  0000-00-00
889                NaN                     NaN  1967-03-07  0000-00-00
890                NaN                     NaN  0000-00-00  0000-00-00
891                NaN                     NaN  1980-06-06  0000-00-00
892           Virginia                     NaN  1986-07-11  0000-00-00

[893 rows x 10 columns]

In [10]:
print(df.iloc[230:240])

          bioID  pos  firstseason  lastseason  height  weight  \
230    elysh01w    F            0           0    74.0     182
231   enissh01w  F-C            0           0    73.0     185
232    erbsu01w    C            0           0    78.0     240
233  ervinla01w    F            0           0    76.0     171
234  estessh99w  NaN            0           0     0.0       0
235  evansda01w    G            0           0    67.0       0
236  evansde01w    G            0           0    64.0     125
237  fallotr01w  G-F            0           0    75.0     165
238  farriba01w  C-F            0           0    75.0     200
239  feastal01w    F            0           0    71.0     168

                  college collegeOther   birthDate   deathDate
230             Tennessee          NaN  1983-08-09  0000-00-00
231               Alabama          NaN  1974-12-03  0000-00-00
232  North Carolina State          NaN  1977-07-25  0000-00-00
233              Arkansas          NaN  1985-03-24  0000-00-00
234                   NaN          NaN  0000-00-00  0000-00-00
235         James Madison          NaN  1989-06-30  0000-00-00
236              Virginia          NaN  1970-10-11  0000-00-00
237                   NaN          NaN  1972-07-23  0000-00-00
238                Tulane          NaN  1976-09-10  0000-00-00
239               Harvard          NaN  1976-02-11  0000-00-00

In [6]:
# Show the column names
print(df.columns)

Index(['bioID', 'pos', 'firstseason', 'lastseason', 'height', 'weight',
       'college', 'collegeOther', 'birthDate', 'deathDate'],
      dtype='object')